.purple{
    background-color: #a173bb;
}

.orange{
    background-color: #e9c498;
}

.blue{
    background-color: #b0c1ed;
}

.pink{
    background-color: #ebb5f1;
}

.green{
    background-color: #bce3aa;
}